body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**********HEADER**********/

.header-main {
  border-bottom: 1px solid #e7e9fc;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-list_link:hover,
.nav-list_link:focus {
  color: #404bbf;
}

.header-call {
  font-style: normal;
  padding: 24px 0;
}

.address-info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-info_link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-info_link:hover,
.address-info_link:focus {
  color: #404bbf;
}

/**********MAIN**********/

.main-hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.main-hero_text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.main-hero_btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  min-width: 169px;
}

.main-hero_btn:hover,
.main-hero_btn:focus {
  background-color: #404bbf;
}

/**********Section2-Info**********/

.info {
  padding: 120px 0;
}

.info-main {
  display: flex;
  gap: 24px;
}

.info-main_link {
  width: calc((100% - 72px) / 4);
}

.info-main_par {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.info-main_text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**********Section3-OurTeam**********/

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-main {
  display: flex;
  gap: 24px;
}

.team-main_link {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 32px 0 32px 0;
}

.team-main_title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-main_text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/**********Section4-Portfolio**********/

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-border {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-main_title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-main_text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/**********FOOTER**********/

.footer-main {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo_studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
}
